.iconCabang {
  height: 80px;
  filter: drop-shadow(0px 5px 5px);
}

.iconCabang:hover {
  filter: brightness(100%) invert(100%);
}

.redBackground {
  background-color: red;
  width: 150px;
  height: 200px;
  border-radius: 0 0 50px 0;
  position: absolute;
  z-index: 1;
  margin-top: 20px;
}

.radiusImg {
  border-radius: 50px 0 50px 0;
  position: relative;
  width: 200px;
  height: 200px;
}

.textBoxAbuabu {
  background-color: #d9d9d9;
  height: auto;
  border-radius: 20px 20px 20px 20px;
  margin-top: 20px;
  text-align: justify;
  padding: 20px;
  font-size: 16px;
  font-weight: 400;
}
