.myNB{
    background: black;
    /* width: 207.7vh;
    margin-left: 5.4vh; */
}

.myButton {
  color: white;
  border-color: white;
  border-width: 1px;
  border-radius: 20px;
  background: black;
  background-size: cover;
  height: 35px;
  width: 70px;
}

.myButton:hover {
  background: white;
  color: black;
}

.myBG{
    background: white;
    background-size: 180vh;
    height: 80vh;
  }
  
.intro {
    height: 50vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }

.title{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    color: white;
    text-shadow: 2px 2px black;
    letter-spacing: 100%;
}

.mySubMenu {
  display: flex;
  height: 8vh;
  justify-content: center; 
  align-items: center;
  background: grey;
  color: black;
  margin-top: 75px;
}


.myAbout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25vh;
  height: 10vh;
  width: 165vh;
  background: red;
  color: white;
  border-radius: 10px;
}

.myFooter{
  display: flex;
  height: 35vh;
  justify-content: center; 
  align-items: center;
  background: black;
  color: white;
}

.list-item a{
  display: flex;
  line-height:30px;
  color: white;
  text-decoration: none;
}  