.myNewsCategory {
    display: flex;
    height: 23px;
    width: 85px;
    justify-content: center; 
    align-items: center;
    background: black;
    color: white;
  }

  .container-column {
    flex: 1;
    margin-right: 20px;
  }
  
  .redBox {
    margin-top: 50px;
    padding-bottom: 70px;
    width: 1122px;
    display: flex;
    height: 8vh;
    background: red;
    border-radius: 0 0 40px 0;
    z-index: 1;
  }

  .line {
    margin-top: 75px;
    margin-right: auto;
    width: 10px;
    display: flex;
    height: 2000px;
    /* max-height: auto; */
    background: black;
  }

  .redCircle {
    margin-left: auto;
    width: 150px;
    height: 150px;
    display: absolute;
    background: red;
    border-radius: 50%;
    z-index: 2;
  }

  .relatedNews {
    display: flex;
    height: 4vh;
    width: auto;
    justify-content: center; 
    align-items: center;
    background: black;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .miniNews {
    padding-left: 10px;
    display: flex;
    margin-top: 10px;
    width: auto;
    height: auto;
    font-size: 20px;
  }
  .miniNews :hover{
    background-color: rgb(196, 196, 196);
    border-radius: 0px;
  }
  
  .tulisArtikel {
    color: white;
    padding: 10px;
    width: 100px;
    border: 2px solid red;
    border-radius: 20px;
    background: red;
    display: block;
    margin: auto;
    text-align: center;
  }
  .tulisArtikel:hover {
    background: white;
    border-color: red;
    color: red;
  }
  