.myButton {
  color: white;
  border-color: white;
  border-width: 1px;
  border-radius: 20px;
  background: black;
  background-size: cover;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.myButton:hover {
  background: white;
  border-color: black;
  color: black;
}

.media {
  box-sizing: border-box;
}

.media-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  margin: 20px auto;
}

.media-container .media {
  max-height: 220px;
  width: 100%;
  border: 3px solid #fff;
  overflow: hidden;
  cursor: pointer;
}

.media-container .media :is(video, img) {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.media-container .media:hover :is(video, img) {
  transform: scale(1.1);
}
