.myNB {
  background: black;
  /* width: 207.7vh;
    margin-left: 5.4vh; */
}

.myButton {
  color: white;
  border-color: white;
  border-width: 1px;
  border-radius: 20px;
  background: black;
  background-size: cover;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.myButton:hover {
  background: white;
  border-color: black;
  color: black;
}

.myBG {
  background: white;
  background-size: 180vh;
  max-height: 1000vh;
}

.intro {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  color: white;
  text-shadow: 2px 2px black;
  letter-spacing: 100%;
}

.mySubMenu {
  display: flex;
  height: 8vh;
  justify-content: center;
  align-items: center;
  background: #d9d9d9;
  color: black;
}

.mySubMenu1 {
  display: flex;
  height: 6vh;
  width: 600px;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  margin-top: 75px;
  margin-bottom: 50px;
  margin: auto;
}

.myAbout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  height: 100px;
  width: 1240px;
  background: red;
  color: white;
  border-radius: 10px;
}

.myAbout-director {
  display: flex;
  margin-left: 19vh;
  margin-top: 50px;
  height: 325px;
  width: 1240px;
  background: red;
  color: white;
  border-radius: 10px;
}

.myFooter {
  display: flex;
  height: 45vh;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  font-size: 15px;
}

.myFooter-img {
  display: flex;
  height: 100px;
  margin-right: 300px;
}

.list-item a {
  display: flex;
  line-height: 30px;
  color: white;
  text-decoration: none;
}

.list-item:hover a {
  color: rgb(255, 89, 0);
}

.myNews {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.418);
  margin-top: 25px;
  max-width: 500px;
  max-height: 150px;
  font-size: 20px;
  transition: transform 0.3s ease;
  z-index: 2;
}
.myNews:hover {
  transform: translate(13px, 13px);
}
.myNews-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: red;
  border-radius: 8px;
  width: 500px;
  height: 150px;
  z-index: 1;
}

.pilar {
  display: flex;
  width: 1240px;
  height: 50vh;
  margin-left: 19vh;
  justify-content: center;
  align-items: center;
  background: rgb(151, 151, 151);
  color: black;
  font-size: 15px;
}

.subAbout {
  color: red;
  /* text-align: left;
  justify-items: left; */
  /* margin-right: 300px;
  margin-top: 50px; */
}

.masked-image {
  width: 100%;
  height: 200px;
  object-fit: cover; /* Objek gambar ditampilkan dengan proporsi yang benar */
  z-index: 2; /* Atur z-index agar gambar berada di atas overlay */
}

.masked-image-overlay {
  position: absolute;
  width: 20.1%;
  height: 200px;
  color: white;
  transition: background-color 0.3s;
  z-index: 1;
}

.masked-image-overlay:hover {
  background: rgba(255, 0, 0, 0.5);
}

.centered-text {
  text-align: center;
  font-weight: bold;
  margin-top: 30%;
  opacity: 0; /* Atur opacity menjadi 0 secara default */
  transition: opacity 0.3s ease; /* Tambahkan transisi pada opacity */
}

.masked-image-overlay:hover .centered-text {
  opacity: 1; /* Atur opacity menjadi 1 saat dihover */
}
